body{
    font-family: 'Montserrat', sans-serif;
}

.nav-back{
    background:#5e4948 ;
}

.navbar{
    opacity: 90%;
}

.navbar-brand
{
    color: white;
    font-size: bold;
}

.navbar-brand:hover{
color: #ff1616;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #ff1616;
}

.navbar-toggler{
    outline: none;
    color: white;
}

.demo{
    position: relative;
    margin-left: 50%;
}


#image{
    
    width: 100%;
    height: 80vh;
    background: url(/image/mobile.png);
    background-size: cover;
}


h1{
    color:#b30000;
    font-size: bold;
}


.button {
    background-color:  #ff1616   ;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }


/* features*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color:#ff1616;
    margin-bottom: 1rem;
}

.icon:hover{
    /*color: #ff4c68;*/
    color: #5e4948;
}


/*testomonial sec*/

#testimonials{

    text-align: center;
    background-color:  #ff4d4d ;
    
    color: #fff;
   }
   
    .testimonial-img{
       width: 3%;
       height: 5%;
       border-radius: 100% ;
       margin: 20px;
   }
   .carousel-item{
       padding: 7% 15%;
   }
   
    #press{
       background-color: #5e4948;
       text-align: center;
    }
   
    .press-logo{
        width: 15%;
        margin: 20px 20px 50px;
    }




    /*service*/
    .service{
        text-align: center;
        padding: 70px 20px 80px 20px;
        background: #ff4d4d  ;
    }
    .service-icon-colour{
        color: #5e4948;
    }
    .change{
        background: #5e4948;
    }
    .service-icon-colour:hover{
        color:    #5e4948;
    }

    .service .icon{
        margin: 0 auto;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: white;
        border-radius: 50px;
    }
    .service .icon i{
        font-size: 32px;
        line-height: 1;
        position: relative;

    }

    .service h4{
        margin: 10px 0 15px 0;
        font-weight: bold;
        font-size: 22px;
    }
    .white{
        color: white;
    }
    .brown{
        color: #5e4948;
    }

    .statement{
        font-weight: ;
        text-align: center;
    }
/*pricing sec*/

#pricing{
    padding:100px ;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

.card-header{
    color:#ff1616 ;
}

.card{
    color: #5e4948;
}
/* CTA SEC*/

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-head{
   font-family: 'Montserrat', sans-serif;
   font-size: 3.rem;
   line-height: 1.5;

}

/*about section*/

.about.section{
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.about-heading{
    text-transform: uppercase;
}

.about-heading-upper{   
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.about-heading-lower{
    display: block;
    font-size: 30px;
    font-weight: light;


}

.bg-faded{
    opacity: 90%;
    background: #ff1616;
}
.about-button .btn-color{
    background: #5e4948;
    color: white;
    font-weight: bold;
}

.about{
    position: relative;
}
.text{
    color: #fff;
}
@media screen and (min-width:992px){

    .about .about-img{
        width: 75%;
        float: right;
    }
    .about .about-text{
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .about .about-text .about-button{
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}



/*Registration*/

* {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #ff1616;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}






/*Dropdown*/
.dropbtn {

    background-color: #5e4948;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
    background-color: #ff1616;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;


  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #5e4948;
  }


/* CTA SEC*/

#cta{
    background-color: #ff4d4d;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-head{
   font-family: 'Montserrat', sans-serif;
   font-size: 3.rem;
   line-height: 1.5;

}
/* Gray */
.default {
    border-color: #fff;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.rem;
    line-height: 1.5;
 
  }
  
  .default:hover {
    background: #fff;
  }

/*footer section*/
#footer{
    padding: 7% 15%;
    text-align: center;

}
.down{
    color: black;
}


@media (max-width: 1028px){
    #title{
        text-align:;
    }
   
   
   
   .title-image{
        position: static;
        transform: rotate(0);
    }
}
.white{
    color: white;
}










.logo{
    
}


